# Test of Sparkify song play logs: Data Warehouse

## Connect SQL to the database

In [1]:
import configparser

In [2]:
%load_ext sql

In [3]:
config = configparser.ConfigParser()
config.read('dwh.cfg')

['dwh.cfg']

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(config['CLUSTER']['DB_USER'],config['CLUSTER']['DB_PASSWORD'],config['CLUSTER']['HOST'], config['CLUSTER']['DB_PORT'],config['CLUSTER']['DB_NAME'])
print(conn_string)
%sql $conn_string

postgresql://admindwh:Passw0rd@dwhcluster.ckesytmadupu.us-west-2.redshift.amazonaws.com:5439/public

## Check data filling in analytic tables

In [6]:
%sql SELECT * FROM staging_events LIMIT 5;

 * postgresql://admindwh:***@dwhcluster.ckesytmadupu.us-west-2.redshift.amazonaws.com:5439/public
5 rows affected.

[('Kenny G', 'Logged In', 'Chloe', 'F', 53, 'Cuevas', Decimal('256'), 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', Decimal('1540940782796'), 648, 'Everlasting', 200, 1542412944796, 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', 49),
 ('Randy Crawford', 'Logged In', 'Chloe', 'F', 54, 'Cuevas', Decimal('251'), 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', Decimal('1540940782796'), 648, 'Rio De Janeiro Blue (Album Version)', 200, 1542413200796, 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', 49),
 ('Placebo', 'Logged In', 'Chloe', 'F', 55, 'Cuevas', Decimal('224'), 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', Decimal('1540940782796'), 648, 'Breathe Underwater', 200, 1542413451796, 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', 49),
 ('Poison The Well', 'Logged In', 'Chloe', 'F', 56, 'Cuevas', Decimal('184'), 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', Decimal('1540940782796'), 648, 'Riverside', 200, 1542413675796, 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', 49),
 ('Justin Bieber', 'Logged In', 'Chloe', 'F', 57, 'Cuevas', Decimal('196'), 'paid', 'San Francisco-Oakland-Hayward, CA', 'PUT', 'NextSong', Decimal('1540940782796'), 648, 'U Smile', 200, 1542413859796, 'Mozilla/5.0 (Windows NT 5.1; rv:31.0) Gecko/20100101 Firefox/31.0', 49)]

In [7]:
%sql SELECT count(1) FROM staging_events LIMIT 5;

 * postgresql://admindwh:***@dwhcluster.ckesytmadupu.us-west-2.redshift.amazonaws.com:5439/public
1 rows affected.

[(146,)]

In [8]:
%sql SELECT * FROM staging_songs LIMIT 5;

 * postgresql://admindwh:***@dwhcluster.ckesytmadupu.us-west-2.redshift.amazonaws.com:5439/public
5 rows affected.

[(1, 'AR5AA4Q1187FB4CFBD', "Alisha's Attic", None, None, '', 'SOPOQFU12A6D4F8C5F', "Sex Is On Everyone's Tongue", Decimal('198'), 2001),
 (1, 'ARUWLCL1187FB549B8', 'Yamandu Costa', None, None, '', 'SOFGHAM12AB0186412', 'Mafuá', Decimal('190'), 0),
 (1, 'AR1F6T91187FB4D5FE', 'Baby Mammoth', Decimal('53'), Decimal('0'), 'Hull, England', 'SOJJLFV12A8C146ACC', 'Tolstoy', Decimal('237'), 1997),
 (1, 'ARV1P811187FB3CFC6', 'Jupiter Rising', None, None, '', 'SOGMXBW12A6D4FB8D7', 'They Say (Album)', Decimal('193'), 2007),
 (1, 'AR54HGU1187FB5ACDE', 'Girugämesh', None, None, '', 'SOENOSR12A8C13A90E', 'freesia', Decimal('262'), 2007)]

In [9]:
%sql SELECT count(1) FROM staging_songs LIMIT 5;

 * postgresql://admindwh:***@dwhcluster.ckesytmadupu.us-west-2.redshift.amazonaws.com:5439/public
1 rows affected.

[(44688,)]

In [5]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(8, datetime.datetime(2018, 11, 20, 21, 45, 4), 85, 'paid', 'SOKDNJL12A8C1399AE', 'AR8XAMK1187B993F0F', 776, 'Red Bluff, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (96, datetime.datetime(2018, 11, 10, 9, 59, 34), 37, 'free', 'SOMBGAL12AB0181F7F', 'AR6FJXP1187B997DED', 304, 'Salinas, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"'),
 (112, datetime.datetime(2018, 11, 27, 18, 47, 16), 88, 'paid', 'SOUKNVZ12A6310D896', 'AR2U0OZ1187FB37B41', 969, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (120, datetime.datetime(2018, 11, 17, 4, 38, 41), 54, 'free', 'SOACKVO12A6D4F7BA6', 'AR7RE2I1187B99051D', 616, 'Yuba City, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (192, datetime.datetime(2018, 11, 13, 22, 31, 45), 55, 'free', 'SOVQSQZ12A8C13F960', None, 415, 'Minneapolis-St. Paul-Bloomington, MN-WI', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [6]:
%sql SELECT count(1) FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8544,)]

In [7]:
%sql SELECT * FROM songplays WHERE artist_id is not null  LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(136, datetime.datetime(2018, 11, 21, 7, 53), 88, 'paid', 'SOQQQMM12A6310DFCC', 'ARH6W4X1187B99274F', 744, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (184, datetime.datetime(2018, 11, 19, 6, 22, 51), 80, 'paid', 'SODUGQV12AF72A6803', 'AR03BDP1187FB5B324', 666, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (224, datetime.datetime(2018, 11, 14, 8, 19, 21), 58, 'paid', 'SOLTSGU12A8C13BFE5', 'AR6NRQI1187FB37544', 522, 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"'),
 (304, datetime.datetime(2018, 11, 14, 8, 10, 16), 80, 'paid', None, 'ARTFOPZ1187B9B2326', 548, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (368, datetime.datetime(2018, 11, 24, 14, 49, 21), 73, 'paid', 'SOCUYHY12AB018A0C8', 'AR03BDP1187FB5B324', 692, 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [8]:
%sql SELECT count(1) FROM songplays  WHERE artist_id is not null OR  song_id is not null;

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(7229,)]

In [9]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(3, 'Isaac', 'Valdez', 'M', 'free'),
 (8, 'Kaylee', 'Summers', 'F', 'free'),
 (12, 'Austin', 'Rosales', 'M', 'free'),
 (17, 'Makinley', 'Jones', 'F', 'free'),
 (26, 'Ryan', 'Smith', 'M', 'free')]

In [10]:
%sql SELECT count(1) FROM users;

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(97,)]

In [11]:
%%sql
SELECT count(1) FROM (
SELECT user_id
FROM users
GROUP BY user_id
HAVING count(1)>1) a

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(0,)]

In [12]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAAADZ12A8C1334FB', 'Joy To The World', 'ARALWRU1187B9A86E5', 1997, 133.09342),
 ('SOAAAZL12A8C135238', "Sally Go 'Round The Roses", 'ARB3NG41187FB38786', 1973, 222.24934),
 ('SOAABEX12A8AE467CB', 'Me Gusta Boogaloo/ Regalo Para Ti', 'AROSW2I1187FB44866', 0, 197.27628),
 ('SOAABRM12A58A7B273', 'On TV', 'AR20RMZ1187B9B2994', 1989, 145.34485),
 ('SOAACDT12AAF3B5C4E', 'Ebb and Flow', 'AROETUE1187FB4A677', 2008, 260.30975)]

In [13]:
%sql SELECT count(1) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(384542,)]

In [14]:
%%sql
SELECT count(1) FROM (
SELECT song_id
FROM songs
GROUP BY song_id
HAVING count(1)>1) a

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(0,)]

In [15]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00MQ31187B9ACD8F', 'Chris Carrier', '', None, None),
 ('AR00RBU1187B9B3F1F', 'Matthew Jay', 'Plymouth, England', 50.3758, -4.13689),
 ('AR01HKT1187B996F26', 'John Altman', '', None, None),
 ('AR01HXB1187FB54C93', 'Unwed Sailor', 'Tulsa OK', 47.60356, -122.32944),
 ('AR01OSO1187B9AA610', "Don Armando's Second Avenue Rhumba Band", '', None, None)]

In [16]:
%sql SELECT count(1) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(30542,)]

In [17]:
%%sql
SELECT count(1) FROM (
SELECT artist_id
FROM artists
GROUP BY artist_id
HAVING count(1)>1) a

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(0,)]

In [13]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://admindwh:***@dwhcluster.ckesytmadupu.us-west-2.redshift.amazonaws.com:5439/public
5 rows affected.

[(datetime.datetime(2018, 11, 19, 2, 8, 38), 2, 19, 47, '11', 2018, '2'),
 (datetime.datetime(2018, 11, 19, 2, 47, 1), 2, 19, 47, '11', 2018, '2'),
 (datetime.datetime(2018, 11, 19, 4, 24, 42), 4, 19, 47, '11', 2018, '2'),
 (datetime.datetime(2018, 11, 19, 4, 25, 29), 4, 19, 47, '11', 2018, '2'),
 (datetime.datetime(2018, 11, 19, 4, 53, 26), 4, 19, 47, '11', 2018, '2')]

In [11]:
%%sql
SELECT count(1) FROM (
SELECT start_time
FROM time
GROUP BY start_time
HAVING count(1)>1) a

 * postgresql://admindwh:***@dwhcluster.ckesytmadupu.us-west-2.redshift.amazonaws.com:5439/public
1 rows affected.

[(0,)]

In [12]:
%sql SELECT count(1) FROM time;

 * postgresql://admindwh:***@dwhcluster.ckesytmadupu.us-west-2.redshift.amazonaws.com:5439/public
1 rows affected.

[(706,)]

## Check analysis queries

### Query 1: Find all the users that has paid account and listen more than 10 songs, who are they

In [21]:
%%sql
SELECT users.first_name, users.last_name
FROM songplays
JOIN users ON users.user_id = songplays.user_id 
WHERE songplays.level = 'paid'
GROUP BY users.first_name, users.last_name
HAVING count(1)>10
ORDER BY count(1) desc
;

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
21 rows affected.

[('Tegan', 'Levine'),
 ('Chloe', 'Cuevas'),
 ('Kate', 'Harrell'),
 ('Lily', 'Koch'),
 ('Aleena', 'Kirby'),
 ('Jacqueline', 'Lynch'),
 ('Layla', 'Griffin'),
 ('Jacob', 'Klein'),
 ('Matthew', 'Jones'),
 ('Mohammad', 'Rodriguez'),
 ('Rylan', 'George'),
 ('Sara', 'Johnson'),
 ('Kinsley', 'Young'),
 ('Avery', 'Watkins'),
 ('Jayden', 'Graves'),
 ('Emily', 'Benson'),
 ('Harper', 'Barrett'),
 ('Avery', 'Martinez'),
 ('Hayden', 'Brock'),
 ('Jaleah', 'Hayes'),
 ('Amiya', 'Davidson')]

### Query 2:  Most popular artist among paid users

In [22]:
%%sql
SELECT artists.name as artist_name
FROM songplays
JOIN artists ON artists.artist_id = songplays.artist_id 
WHERE songplays.level = 'paid'
GROUP BY artists.name 
ORDER BY count(1) desc
LIMIT 1
;

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('Coldplay',)]

### Query 3: How much did User 2 listen songs

In [23]:
%%sql
SELECT songplays.user_id, count(1) as count_listening
FROM songplays
WHERE songplays.user_id = 2
GROUP BY songplays.user_id
;

 * postgresql://dwhuser:***@dwhcluster.cpegbbnhzjyg.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(2, 16)]